body{
	background-image: url('../images/concrete_seamless.png');
}


img{
	width: 700px;
	height: 500px;
	border: 10px solid white;
	border-radius: 8px;
    padding: 0.5px; 
	background-color: white;
	padding-top: 13px;
	padding-bottom: 13px;
    transform: rotate(355deg);
    box-shadow: 1px 1px 12px #555;
}

h1{
	font-size: 3em;
	color: #2D8883;
	margin-left: 1em;
}
a{
	color: #2D8883;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	margin-left:1.5em;
}

.hidden{
	display: none;
}
.showen{
	display: block;
}
h4{
	transform: rotate(355deg);
	color: #2D8883;
	font-size: 3em;
	font-weight: bold;
}
a{
	font-size: 1.5em;
	padding-left: 0.7em;
}
button{
	margin-right: 2em;
	box-shadow: 1px 1px 12px black;
}
